on:
  pull_request:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v24
      - run: nix flake check --all-systems

  detect-changes:
    needs: check
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.packages.outputs.matrix }}
    steps:
      - id: packages
        uses: hellofresh/action-changed-files@v3
        with:
          pattern: pkgs/development/python-modules/(?P<package>[^/]+)
          default-patterns: flake.lock

  build:
    needs: detect-changes
    runs-on: ${{ matrix.os }}
    strategy:
      matrix: ${{fromJSON(needs.detect-changes.outputs.matrix)}}
      fail-fast: false
      max-parallel: 4
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v24
      - uses: cachix/cachix-action@v14
        with:
          name: mirpkgs
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - run: nix build --print-build-logs ".#${{ matrix.package }}"
